[submodule "gbit"]
	path = gbit
	url = https://github.com/koenk/gbit.git
[submodule "gb-test-roms"]
	path = gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
[submodule "minigdbstub"]
	path = minigdbstub
	url = https://github.com/kekec/minigdbstub.git
